
<%if current_user.manager?%>
  <%= render 'manager_feedback_page'%>
<%elsif current_user.team_member?%>
    <%= render 'employee_feedback_page'%>
<%elsif current_user.hr?%>
    <%= render 'feedback'%>
    <%else%>
    <h1>Hello</h1>
<%end%>
