<div>

  <h1> Hello, <%=current_user.email%></h1>

</div>

<%if current_user.any?%>

<%= render :partial => 'schedulers/employee_feedback_page'%>

<%elsif current_user.manager?%>
<%= render :partial => 'schedulers/manager_feedback_page'%>
<%else%>
<%= render :partial => 'schedulers/feedback'%>
<%end%>
