<h1>Listing candidates</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Candidate Full_Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Resume</th>



    </tr>
  </thead>
  <tbody>
    <%  @candidate.each do |candidate| %>
      <tr>
        <td>
          <%= candidate.candidate_full_name %>
        </td>
        <td>
          <%= candidate.contact %>
        </td>
        <td>
          <%= candidate.email %>
        </td>
        <td id="k"><%= link_to "Download Resume", candidate.resume_url  %></td>





      </tr>
    <% end %>
  </tbody>
</table>
<br/>
