

  <Center><h1>Delivery Units</h1></center>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Delivery Unit Name</th>

        <th>No of Projects</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @dutables.each do |d| %>
        <tr>
          <td>
            <%= d.du_name %>

          </td>
          <td>
            <%= d.projects.count %>
          </td>
          <td>
          <%= link_to 'Details', dutable_path(d), class:'btn btn-info'%>
          </td>
          <td>
          <%= link_to 'Add Project',  edit_dutable_path(d), class: 'class="ace-icon fa fa-wrench  bigger-110 icon-only btn btn-warning btn-xm"'%>
          </td>


      <% end %>
    </tbody>
  </table>

  
