

  <h1>List of Delivery Units</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>DU_Name</th>
        <th>Du Code</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @dutables.each do |d| %>
        <tr>
          <td>
            <%= d.du_name %>
          </td>
          <td>
            <%= d.du_id_code %>
          </td>
          <td>
          <%= link_to 'Details', dutable_path(d), class:'btn btn-info'%>
          </td>
          <td>
          <%= link_to 'Add Project',  edit_dutable_path(d), class: 'class="ace-icon fa fa-wrench  bigger-110 icon-only btn btn-warning btn-xm"'%>
          </td>


      <% end %>
    </tbody>
  </table>
