

  <h1>Listing Delivery Units</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>DU_Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dutables.each do |d| %>
        <tr>
          <td>
            <%= d.du_name %>
          </td>
          <td>
          <%= link_to 'edit',  edit_dutable_path(d)%>
          </td>


      <% end %>
    </tbody>
  </table>
