
    <h1><%=h @dutable.du_name %></h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Projects</th>
          <th></th>



        </tr>
      </thead>
      <tbody>
      <%for project in @dutable.projects%>
          <tr>
            <td>
              <%= project.project_name%>
            </td>
            <td>
            <%= link_to 'Details', project_path(project), class:'btn btn-info'%>
            </td>



        <% end %>
      </tbody>
    </table>
