
<strong><%=h @dutable.du_name %>
</strong>

        <ol>
          <%for project in @dutable.projects%>
              <li> <%= project.project_name%></li>


          <%end%>
        </ol>
  <%= link_to 'Edit', edit_dutable_path%>
