<div class='footer'  style="background-color:#92cd00">
  <div class='footer-inner'>
    <div class='footer-content'>
      <span class='bigger-120'>
        <span class='blue bolder' style="color:#92cd00;">Interview Portal</span>
        Application ©2018
      </span>
         
      <span class='action-buttons'>
        <a href='#'>
          <i class='ace-icon fa fa-twitter-square light-blue bigger-150'></i>
        </a>
        <a href='#'>
          <i class='ace-icon fa fa-facebook-square text-primary bigger-150'></i>
        </a>
        <a href='#'>
          <i class='ace-icon fa fa-rss-square orange bigger-150'></i>
        </a>
      </span>
    </div>
  </div>
</div>
<a class='btn-scroll-up btn btn-sm btn-inverse' href='#' id='btn-scroll-up'>
  <i class='ace-icon fa fa-angle-double-up icon-only bigger-110'></i>
</a>
